*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
:root
{
    --purple:#9560e8;
    --blue:#5f66d2;
    --black:hsl(0,0%,5%);
    --white:#f4f5ff;
    --top:hsl(0,0%,10%);
    --bottom:hsl(0,0%,25%);
    --red:hsl(0,100%,60%);
}
.container
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.clock-cont
{
    background-color: var(--black);
    width: 40%;
    height: 40%;
    max-height: 230px;
    min-height: 230px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-opt
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.3rem;
}
.focus,.break,.long-break
{
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.1s;
    background-color: var(--top);
}
.upper-opt > *:hover
{
    transform: scale(1.1);
}
.selected
{
    color: black;
    background-color: var(--purple);
}
.flip-cont
{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    align-self: center;
    gap: 50px;
    font-weight: 800;
    align-self: center;
}
.min,.sec
{
    display: flex;
    height: 100%;
    width: 50%;
    font-size: 6rem;
    text-align: center;
    gap: 10px;
}
.min1,.min2,.sec1,.sec2
{
    position: relative;
    height: 100%;
    width: 50%;
    background-color: yellow;
    perspective: 400px;
}
.min1 > *,.min2 > *,.sec1 > *,.sec2 > *
{
    width: 100%;
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
    
}
.top
{
    line-height: 1.1;
    
    background-color: var(--top);
    border-bottom: 1px solid var(--black);
}
.bottom
{
    line-height: 0;
    background-color: var(--bottom);
    border-top: 1px solid var(--black);
}
.top-flip
{
    line-height: 1.1;

    background-color: var(--top);
    position: absolute;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--black);
    transform-style: preserve-3d;
    transform-origin: bottom;
    
}
.bottom-flip
{
    background-color: var(--bottom);
    border-top: 1px solid var(--black);
    z-index: 10;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: rotateX(90deg);
    transform-origin: top;
    transform-style: preserve-3d;
}
.flip-top-anim
{
    animation: flip-top .5s linear forwards;
}
.flip-bottom-anim
{
    animation: flip-bottom .5s linear forwards;
}
@keyframes flip-top {
    0%
    {
        transform: rotateX(0deg);
    }
    50%,100%
    {
        transform: rotateX(-90deg);
    }
}
@keyframes flip-bottom
{
    0%,50%
    {
        transform: rotateX(90deg);
    }
    100%
    {
        transform: rotateX(0deg);
    }
}
.lower-opt
{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    position: relative;
}
.lower-opt > *
{
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}
.start
{
    background-color: var(--blue);
}
.restart
{
    background-color: var(--red);
}
.customize
{
    background-color: var(--white);
}
.war
{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.7rem;
    color: red;
}
.cancel,.congratulation
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 40%;
    height: 40%;
    border-radius: 5px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.5s;
}
.cancel
{
    z-index: 10;
}
.layout
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: scale(0);
    transition: 0.5s;
}
.msg
{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.yes,.no
{
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: green;
    cursor: pointer;
}
.no
{
    color: red;
}
.congratulation
{
    background: linear-gradient(to right,var(--purple),var(--blue));
    width: 40%;
    height: 40%;
    color: black;
    flex-direction: column;
    justify-content: space-around;
}
.msg1
{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.option
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.5s;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 40%;
    height: 40%;
    font-size: 1.3rem;
    justify-content: space-around;
}
.option > *
{
    align-self: center;
    width: 50%;
}
.fa-volume-high,.fa-volume-xmark
{
    position: absolute;
    left: 3%;
    top: 3%;
    font-size: 1.1rem;
    width: fit-content;
    color: rgb(21, 201, 21);
}
.fa-volume-xmark
{
    color: red;
}
.fa-xmark
{
    position: absolute;
    top: 3%;
    right: 3%;
    width: fit-content;
    color: red;
}
.scale1
{
    transform: scale(1);
}
.scale2
{
    transform: translate(-50%,-50%) scale(1);
}
@media (min-width:769px) and (max-width:1279px) {
    .clock-cont,.congratulation,.cancel,.option
    {
        width: 60%;
    }
}
@media (min-width:481px) and (max-width:768px)
{
    .flip-cont
    {
        width: 100%;
    }
    .clock-cont,.congratulation,.cancel,.option
    {
        width: 80%;
    } 
}
@media (max-width:481px) {
    .flip-cont
    {
        width: 100%;
    }
    .clock-cont,.congratulation,.cancel,.option
    {
        width: 100%;
    } 
}
